$color_titulo:blue;
@mixin base($color:blueviolet) {
    color: $color;
    font-size: 2rem;
}

* {
    box-sizing: block;    
}

header {
    h1 {
        color: $color_titulo;
    }
}

.marron {
    color: maroon;    
}

article {

    p {
        @include base(green); //sustituye el código de base en la posición.
    }

    >p {
        @extend .marron; //al revés que include. coge el selector y lo proyecta a la clase marron.
        color: green;
    }
}